<!-- http://www.script-tutorials.com/photo-gallery-with-angularjs-and-css3/ -->

<!-- slider container -->
<div class="container slider">

    <!-- enumerate all photos -->
    <img ng-repeat="photo in photos" class="slide" ng-show="isActive($index)" ng-src="{{photo.src}}" />

    <!-- navigation controls -->
    <ul class="nav">
        <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
            <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
        </li>
    </ul>

</div>
